@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url("/src/assets/fonts/material_symbols_outlined.woff2") format("woff2");
}

@font-face {
  font-family: "Lobster Two";
  src: url("/src/assets/fonts/LobsterTwo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lobster Two";
  src: url("/src/assets/fonts/LobsterTwo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lobster Two";
  src: url("/src/assets/fonts/LobsterTwo-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

:root {
  --main-color-1: #bcd5ed;
  --main-color-2: #21294d;
  --main-color-3: #fff7ed;
}

/* --main-color-1: #002442;
  --main-color-2: #6ba292; */

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* reset button */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  letter-spacing: 0;
}

*:not(.material-symbols-outlined) {
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
